.LikeCount {
  display: inline-block;
  width: 20%;
  vertical-align: middle;
}

.LikeCount-count-container {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  display: inline-block;
  width: 30%;
  height: 2.25rem;
  border: 1px solid black;
  border-radius: 75%;
  box-shadow: 0 4px 8px rgba(59, 43, 91, 0.7);
}

.LikeCount-count-value {
  font-size: 0.75rem;
}

.LikeCount-button {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border: 1px solid beige;
  border-radius: 0.5rem;
  width: 20%;
  height: 3rem;
  font-weight: 900;
  font-size: 1.25rem;
}
